<div class="container py-3">
  <h2 class="card title bg-dark p-2">#Comprar</h2>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-6">
      <div class="col">
        <div class="card">
          <h3 class="card-header">HYUNDAI HB20</h3>
          <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
          <div class="card-body">
            <h5 class="card-title">HYUNDAI - HB20</h5>
            <ul>
              <li>R$ {{ preco }}</li>
              <li>Modelo: {{ modelo }}</li>
              <li>Ano:  {{ ano }}</li>
              <li>{{ completo }}</li>
          </ul>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card">
          <h3 class="card-header">HYUNDAI HB20</h3>
          <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
          <div class="card-body">
            <h5 class="card-title">HYUNDAI - HB20</h5>
            <ul>
              <li>R$ {{ preco }}</li>
              <li>Modelo: {{ modelo }}</li>
              <li>Ano:  {{ ano }}</li>
              <li>{{ completo }}</li>
          </ul>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card">
          <h3 class="card-header">HYUNDAI HB20</h3>
          <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
          <div class="card-body">
            <h5 class="card-title">HYUNDAI - HB20</h5>
            <ul>
              <li>R$ {{ preco }}</li>
              <li>Modelo: {{ modelo }}</li>
              <li>Ano:  {{ ano }}</li>
              <li>{{ completo }}</li>
          </ul>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <!--Cards-->
      <div class="col">
        <div class="card">
          <h3 class="card-header">HYUNDAI HB20</h3>
          <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
          <div class="card-body">
            <h5 class="card-title">HYUNDAI - HB20</h5>
            <ul>
              <li>R$ {{ preco }}</li>
              <li>Modelo: {{ modelo }}</li>
              <li>Ano:  {{ ano }}</li>
              <li>{{ completo }}</li>
          </ul>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="botao-ver-mais pt-3 pb-3">
        <button class="btn btn-success"><a routerLink="/comprar">Ver mais</a></button>
      </div>
      <br>

      <!-- 2° Botão com para levar ao formulario de venda -->
    
</div>
<hr>

<h2 class="card bg-dark p-2">#Vender</h2>
<div class="card p-3">
<div class="botao-formulario">
  
  <h2>Caso tenha interesse em vender seu carro preencha o formulário abaixo !</h2>
  <div class="text-center pt-4">
    
    <div class="text-center">
      <img src="https://th.bing.com/th/id/OIP.u8MZPLV4xTv81VPwX-oBNwAAAA?w=176&h=180&c=7&r=0&o=5&pid=1.7" alt="formulario">
    </div>
    <button class="btn btn-primary">
      <a routerLink="/vender">Formulário</a>
    </button>
  </div>
</div>
</div>

<hr>

<h2 class=" card bg-dark p-2">#Servicos</h2>
<div class="card p-3">
  <nav class="servicos">
    <ul>
      <li><button class="btn btn-warning"><a href="#">Detran</a></button></li>
      <li><button class="btn btn-warning"><a href="#">Guincho 24h</a></button></li>
      <li><button class="btn btn-warning"><a href="#">Despachante</a></button></li>
      <li><button class="btn btn-warning"><a href="#">Mecanica em geral</a></button></li>
      <li><button class="btn btn-warning"><a href="#">Financiamento</a></button></li>
    </ul>
  </nav>
</div>
