<div class="container py-3">
    <h2 class="card bg-dark">Aqui você encontra as melhores ofertas !</h2>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div class="col">
          <div class="card">
            <h3 class="card-header">HYUNDAI HB20</h3>
            <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
            <div class="card-body">
              <h5 class="card-title">HYUNDAI - HB20</h5>
              <ul>
                <li>R$ {{ preco }}</li>
                <li>Modelo: {{ modelo }}</li>
                <li>Ano:  {{ ano }}</li>
                <li>{{ completo }}</li>
            </ul>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!--Cards-->
        <div class="col">
          <div class="card">
            <h3 class="card-header">HYUNDAI HB20</h3>
            <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
            <div class="card-body">
              <h5 class="card-title">HYUNDAI - HB20</h5>
              <ul>
                <li>R$ {{ preco }}</li>
                <li>Modelo: {{ modelo }}</li>
                <li>Ano:  {{ ano }}</li>
                <li>{{ completo }}</li>
            </ul>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!--Cards-->
        <div class="col">
          <div class="card">
            <h3 class="card-header">HYUNDAI HB20</h3>
            <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
            <div class="card-body">
              <h5 class="card-title">HYUNDAI - HB20</h5>
              <ul>
                <li>R$ {{ preco }}</li>
                <li>Modelo: {{ modelo }}</li>
                <li>Ano:  {{ ano }}</li>
                <li>{{ completo }}</li>
            </ul>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!--Cards-->
        <div class="col">
          <div class="card">
            <h3 class="card-header">HYUNDAI HB20</h3>
            <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
            <div class="card-body">
              <h5 class="card-title">HYUNDAI - HB20</h5>
              <ul>
                <li>R$ {{ preco }}</li>
                <li>Modelo: {{ modelo }}</li>
                <li>Ano:  {{ ano }}</li>
                <li>{{ completo }}</li>
            </ul>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>

         <!--Cards-->
         <div class="col">
            <div class="card">
              <h3 class="card-header">HYUNDAI HB20</h3>
              <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
              <div class="card-body">
                <h5 class="card-title">HYUNDAI - HB20</h5>
                <ul>
                  <li>R$ {{ preco }}</li>
                  <li>Modelo: {{ modelo }}</li>
                  <li>Ano:  {{ ano }}</li>
                  <li>{{ completo }}</li>
              </ul>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
          </div>

           <!--Cards-->
        <div class="col">
            <div class="card">
              <h3 class="card-header">HYUNDAI HB20</h3>
              <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
              <div class="card-body">
                <h5 class="card-title">HYUNDAI - HB20</h5>
                <ul>
                  <li>R$ {{ preco }}</li>
                  <li>Modelo: {{ modelo }}</li>
                  <li>Ano:  {{ ano }}</li>
                  <li>{{ completo }}</li>
              </ul>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
          </div>

           <!--Cards-->
        <div class="col">
            <div class="card">
              <h3 class="card-header">HYUNDAI HB20</h3>
              <img src="https://th.bing.com/th/id/OIP.IEaWnu_DWzcleIwItWDGjwAAAA?w=219&h=180&c=7&r=0&o=5&pid=1.7" alt="HB20">
              <div class="card-body">
                <h5 class="card-title">HYUNDAI - HB20</h5>
                <ul>
                  <li>R$ {{ preco }}</li>
                  <li>Modelo: {{ modelo }}</li>
                  <li>Ano:  {{ ano }}</li>
                  <li>{{ completo }}</li>
              </ul>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
          </div>
  </div>