<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://api.whatsapp.com/send?phone=61994262553" target="_blank" class="nav-link">Whatsapp</a></li>
      <li class="nav-item"><a href="mailto:alexandremoraesfeitosa@gmail.com" target="_blank" class="nav-link">E-mail</a></li>
      <br>
      <li class="nav-item"><a href="https://www.google.com.br/maps/place/Garagem+MAPA/@-15.7807087,-47.9120884,18z/data=!3m1!4b1!4m6!3m5!1s0x935a3a64c080d0c3:0x9cd7d23d576a2f6b!8m2!3d-15.7807087!4d-47.9108009!16s%2Fg%2F11bvt3_yrh?entry=ttu" target="_blank" class="nav-link">Endereço</a></li>
      <li class="nav-item"><a routerLink="#" class="nav-link">Serviços</a></li>
      <li class="nav-item"><a routerLink="#" class="nav-link">Empresa</a></li>
    </ul>
    <p class="text-center text-white">© 2024 - criado por Alexandre Moraes, Inc</p>
</footer>