<div class="card text-center mt-3">
        <nav class="card-text">
            <h2 class="card-header p-3">Contatos</h2>
            <ul class="nav justify-content-center border-bottom p-3 mb-3">
                <button class="btn btn-outline-success bg-dark">
                    <li><a href="https://api.whatsapp.com/send?phone=61994262553" target="_blank" class="nav-link">Tel: (61) 9 9426-2553</a>
                    </li>
                </button>
                
                <button class="btn btn-outline-success bg-dark">
                    <li><a href="mailto:alexandremoraesfeitosa@gmail.com" target="_blank" class="nav-link">E-mail</a></li>
                </button>
              </ul>
            <h2 class="card-header">Localize com Waze ou Google Maps</h2>
            <iframe class=card-text src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1919.7202655814292!2d-47.9108009!3d-15.7807087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3a64c080d0c3%3A0x9cd7d23d576a2f6b!2sGaragem%20MAPA!5e0!3m2!1spt-BR!2sbr!4v1725313630609!5m2!1spt-BR!2sbr" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="links">
                
            </div>
        </nav>
</div>