
    <nav class="nav nav-underline p-2">
        <img class="img" width="60px" src="https://th.bing.com/th/id/OIP.RrPrdtU20Qaijof0cEXR7QHaHa?w=177&h=180&c=7&r=0&o=5&pid=1.7" alt="logo">

        <button class="btn btn-outline-success mt-2"><a routerLink="/">Início</a></button>

        <button class="btn btn-outline-success mt-2"><a routerLink="/vender">Quero vender</a></button>

        <button class="btn btn-outline-success mt-2"><a routerLink="/comprar">Quero Comprar</a></button>

        <button class="btn btn-outline-success mt-2"><a routerLink="#servicos">Serviços</a></button>

        <button class="btn btn-outline-success mt-2"><a routerLink="/contatos">Contatos</a></button>

    </nav>
<router-outlet></router-outlet>

<app-footer></app-footer>